<h3>Welcome to Gvents! Type in your GitHub username below</h3>
<form onsubmit="location.href=window.location.href + document.getElementById('myInput').value; return false;">
  <input type="text" id="myInput" />
  <input type="submit" />
</form>